


html {
    scroll-behavior: smooth;
    
}

body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    
    
     
}


*,
*:before,
*:after {
    box-sizing: border-box;
 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding-top: 40px;
    
    
   
    
}

.header__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.container {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 40px;
    
}


.go__top  {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #ff6680;
    bottom: 30px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    font-size: 22px; 
    transition-duration: 0.4s;
    border-radius: 50%;
}




.go__top:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #111;
    color: #FFF;
    
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5) ), url(images/bg-01.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
}

.intro__inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
}


.intro__text {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: #cccccc;
    text-align: center;
    margin-bottom: 50px;
}

.txt-rotate {
    color: #ff6680;
}

.resume__btn {
    
    display: inline-block;
    vertical-align: top;
    border: 2px solid #cccccc;
    color: #cccccc;
    padding: 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    transition: background .2s linear, color .2s linear, border .1s ease;
    
    
}

.resume__btn:hover {
    background-color: #ff6680;
    color: #FFF;
    border: none;
    
    
}
    




.sidenav {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.2s linear;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}


.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    position: absolute;
    right: 3%;
    color: #FFF;
    opacity: 1;
    transition: 0.2s linear;
    font-size: 40px;
    cursor: pointer;
}

#main:hover {
    opacity: 0.6;
    color: #CCCCCC;
}


.hor__nav {
    display: block;
    text-align: center;
    
   
    
}

.hor__nav a {
    text-decoration: none;
    color: #cccccc;
    margin: 0 30px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    transition: 0.2s linear;
    font-weight: 700;
}

.hor__nav a:hover {
    color: #f1f1f1;
}



.section {
    padding: 40px 0; 
    
}

.section__header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    color: #ff6680;
   
}

.section__text {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    
}

.about__part {
    display: flex;
    
}

.about__item {
    width: 100%;
  
}


.about__header {
    text-align: center;
    
    
}

.about__title {
    font-family: 'Sriracha', cursive;
    font-size: 30px;
    
    
    
}

.about__quote {
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
}

.about__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}


.kaz {
    text-decoration: underline;
    color: #111;
    font-weight: 700;
    transition: .2s linear;
}

.kaz:hover {
    color: #ff6680;
    
}

.education__part {
    display: flex;
}

.education__item {
    width: 100%;
}

.education__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    text-align: justify;
    text-justify: inter-word;
}


.port__text {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.portfolio__part {
    
    display: table;
    margin: 0 auto;
    padding-bottom: 100px;
    
    

}

.portfolio__item {
    width: 100%;
}

.portfolio__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    
    
}


.skill__set {
    list-style-type: none;
}




ul li::before {
    content: "\2022";
    color: #ff6680;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
   
    
}







.footer {
    position: absolute;  
    background: #111;
    height: auto;
    width: 100%;
    text-align: center;
    
}



.footer__content {
    padding-top: 20px;
    padding-bottom: 30px;
}


.quote__container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
    
}

.quote {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    font-size: 40px;
	color: #FFF;
    text-align: center;
    line-height: 1.5;
    text-justify: inter-word;
    
}

.flicker {
    padding-top: 30px;
    text-align: center;
    font-family: 'Montserrat';
    letter-spacing: 0.7em;
    font-size: 50px;
	color: #FFF;
  
}

div > .letters {
	opacity: 0.15;
}
#I {
	opacity: 1;
	animation: flickerI 2s linear  reverse infinite;
}
#I::after {
	content: '';
	width: 150%;
	-webkit-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
	-moz-box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
	box-shadow: -35px 0px 60px 8px rgba(255,255,255,1);
}

#L, #G {
	animation: flickerLG 2s linear reverse infinite;
	position: relative;
}
#L::after, 
#L::before  {
	content:' ';
	width: 100px;
	height: 100px;
	background: var(--white);
	position: absolute;
	top: -50%;
	left: 100%;
	border-radius: 100%;
	opacity: 0.05;
	filter: blur(10px);
}
#L::after {
	width: 200px;
	height: 200px;
	top: -150%;
	left: -5%;
	opacity: 0.1;
	filter: blur(10px);
}
#H {
	animation: flickerH 2s linear reverse infinite
}

#T {
	animation: flickerH 2s linear reverse infinite
}

@keyframes flickerI {
	0% {
		opacity: 0.4;
	}
	5% {
		opacity: 0.5;
	}
	10% {
		opacity: 0.6;
	}
	15% {
		opacity: 0.85;
	}
	25% {
		opacity: 0.5;
	}
	30% {
		opacity: 1;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.5;
	}
	60% {
		opacity: 1;
	}
	70% {
		opacity: 0.85;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flickerLG {
	0% {
		opacity: 0.19;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.25;
	}
	15% {
		opacity: 0.35;
	}
	25% {
		opacity: 0.2;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.1;
	}
	40% {
		opacity: 0.25;
	}
	45% {
		opacity: 0.2;
	}
	60% {
		opacity: 0.4;
	}
	70% {
		opacity: 0.35;
	}
	80% {
		opacity: 0.4;
	}
	90% {
		opacity: 0.2;
	}
	100% {
		opacity: 0.4;
	}
}

@keyframes flickerH {
	0% {
		opacity: 0.15;
	}
	5% {
		opacity: 0.2;
	}
	10% {
		opacity: 0.12;
	}
	15% {
		opacity: 0.2;
	}
	25% {
		opacity: 0.15;
	}
	30% {
		opacity: 0.4;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.12;
	}
	45% {
		opacity: 0.15;
	}
	60% {
		opacity: 0.3;
	}
	70% {
		opacity: 0.2;
	}
	80% {
		opacity: 0.3;
	}
	90% {
		opacity: 0.18;
	}
	100% {
		opacity: 0.3;
	}
}

@keyframes flickerT {
	0% {
		opacity: 0.01;
	}
	5% {
		opacity: 0.05;
	}
	10% {
		opacity: 0.03;
	}
	15% {
		opacity: 0.1;
	}
	25% {
		opacity: 0.07;
	}
	30% {
		opacity: 0.1;
	}
	35% {
		opacity: 0.05;
	}
	40% {
		opacity: 0.06;
	}
	45% {
		opacity: 0.1;
	}
	60% {
		opacity: 0.;
	}
	70% {
		opacity: 0.1;
	}
	80% {
		opacity: 0.;
	}
	90% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.1;
	}
}










.footer__bot {
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    text-transform: capitalize;
}


.footer__bot span {
    text-transform: none;
}

.roses {
    color: #ff6680;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.icons a {
    color: #F2F2F2;
    width: 66px;
    font-size: 24px;
    transition: .3s linear;
    text-decoration: none;
}

.icons a:hover {
    color: #ff6680;
}





@media (max-width: 1024px) {
    
   
    
    .section {
        padding: 25px 0;
    }
    
    .intro__text {
        font-size: 35px;
        margin-bottom: 30px;
    }
    
    .resume__btn {
        font-size: 25px;
    }
    
    
    #main {
        display: none;
    }
    
    .go__top {
        display: none;
    }
    
    .section__title {
        font-size: 30px;  
    }
    
    .section__header {
        margin: 0 auto 20px;
    }
    
    .section__text {
        font-size: 19px;
    }
    
    .about__text {
        font-size: 20px;
    }
    
    .education__text {
        font-size: 20px;
    }
    
    .port__text {
        font-size: 20px;
    }
    
    .portfolio__text {
        font-size: 22px;
    }
    
    .quote {
        font-size: 30px;
    }
    
    .quote__container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .flicker {
        font-size: 35px;
    }
    
    .portfolio__part {
        padding-bottom: 30px;
    }
    
    .footer__bot {
        font-size: 20px;
    }
    
    .icons a {
        font-size: 20px;
        width: 75px;
    }
}


@media (max-width: 770px) {
    
    
    
    .intro__text {
        font-size: 30px;
    }
    
    .resume__btn {
        padding: 8px 8px;
        font-size: 20px;
    }
    
    .section__title {
        font-size: 25px;
    }
    
    .section__text {
        font-size: 16px;
    }
    
    .about__text {
        font-size: 17px;    
    }
    
    .education__text {
        font-size: 17px;
    }
    
    .port__text {
        font-size: 18px;
    }
    
    .portfolio__text {
        font-size: 20px;
    }
    
    .quote__container {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    
    .footer__content {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .quote {
        font-size: 25px;
    }
    
    .flicker {
        font-size: 35px;
        padding-top: 20px;
    }
    
    .footer__bot {
        font-size: 18px;
    }
    
    .icons a {
        font-size: 18px;
        width: 60px;
    }
}

















