


html {
    scroll-behavior: smooth;
    
}

body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    
    
     
}


*,
*:before,
*:after {
    box-sizing: border-box;
 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


.header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding-top: 40px;
    
    
   
    
}

.header__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.container {
    width: 100%;
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 40px;
    
}


.go__top  {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #ff6680;
    bottom: 30px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #FFF;
    font-size: 22px; 
    transition-duration: 0.4s;
    border-radius: 50%;
}




.go__top:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #0d0d0d;
    color: #FFF;
    
}


.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/bg1.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.intro__inner {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
}


.intro__text {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.4;
}

.txt-rotate {
    color: #ff6680;
}


.btn__res {
    display: flex;
    align-items: center;
    justify-content: center;
}


.resume__btn {
    border: 2px solid #ff6680;
    color: #FFF;
    padding: 20px 70px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    transition: 0.2s linear;
    background-color: #ff6680;
      
}

.resume__btn:hover {
    background-color: transparent;
    color: #FFF;
    text-shadow: 1px 1px 5px black;
    border: 2px solid #FFF;
    
}


    

.sidenav {
    position: fixed;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #0d0d0d;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #FFF;
    display: block;
    transition: 0.2s linear;
    font-family: 'Ubuntu', sans-serif;
    font-size: 33px;
    
}


.sidenav a:hover {
    color: #ff6680;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    position: absolute;
    right: 3%;
    color: #FFF;
    transition: 0.2s linear;
    font-size: 40px;
    cursor: pointer;
}

#main:hover {
    color: #ff6680;
}


.hor__nav {
    display: block;
    text-align: center;
    
   
    
}

.hor__nav a {
    text-decoration: none;
    color: #cccccc;
    margin: 0 30px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    transition: 0.2s linear;
    font-weight: 700;
}

.hor__nav a:hover {
    color: #f1f1f1;
}



.section {
    padding: 30px 0; 
    
}

.section__header {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 20px;
    text-align: center;
}

.section__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    text-transform: uppercase;
    color: #ff6680;
   
}

.about__part {
    display: flex;
    
}

.about__item {
    width: 100%;
  
}


.about__header {
    text-align: center;
    
    
}

.about__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    
    
    
}

.about__quote {
    font-family: 'Ubuntu', sans-serif;
    font-size: 23px;
}

.about__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
}


.kaz {
    text-decoration: underline;
    color: #111;
    font-weight: 700;
    transition: .2s linear;
}

.kaz:hover {
    color: #ff6680;
    
}

.education__part {
    display: flex;
}

.education__item {
    width: 100%;
}

.education__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    line-height: 1.4;
    text-align: justify;
    text-justify: inter-word;
}


.port__text {
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.portfolio__part {
    
    display: table;
    margin: 0 auto;
    padding-bottom: 100px;
    
    

}

.portfolio__item {
    width: 100%;
}

.portfolio__text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 26px;
    line-height: 1.5;
    
    
}


.skill__set {
    list-style-type: none;
}




ul li::before {
    content: "\2022";
    color: #ff6680;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
   
    
}


.footer {
    position: absolute;  
    background: #0d0d0d;
    height: auto;
    width: 100%;
    text-align: center;
    
}



.footer__content {
    padding-top: 20px;
    padding-bottom: 30px;
}


.footer__bot {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    text-transform: capitalize;
}


.footer__bot span {
    text-transform: none;
}

.roses {
    color: #ff6680;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.icons a {
    color: #F2F2F2;
    width: 66px;
    font-size: 25px;
    transition: .3s linear;
    text-decoration: none;
}

.icons a:hover {
    color: #ff6680;
}


@media (max-width: 1900px) {
    
    .intro__text {
        margin-bottom: 30px;
    }
}

@media (max-width: 1520px) {
    
    .intro__text {
        font-size: 40px;
        margin-bottom: 25px;
    }
}


@media (max-width: 1024px) {
    
   
    
    .section {
        padding: 20px 0;
    }
    
    .intro__text {
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .resume__btn {
        font-size: 25px;
        padding: 15px 45px;
    }
    
    .go__top {
        display: none;
    }
    
    #main {
        display: none;
    }
    
    .section__title {
        font-size: 30px;  
    }
    
    .section__header {
        margin: 0 auto 10px;
    }
    
    .section__text {
        font-size: 19px;
    }
    
    .about__text {
        font-size: 18px;
    }
    
    .education__text {
        font-size: 18px;
    }
    
    .port__text {
        font-size: 20px;
    }
    
    .portfolio__text {
        font-size: 22px;
    }
    
    .portfolio__part {
        padding-bottom: 30px;
    }
    
    .footer__bot {
        font-size: 15px;
    }
    
    .icons a {
        font-size: 15px;
        width: 50px;
    }
}


@media (max-width: 770px) {
    
    
    
    .intro__text {
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .resume__btn {
        padding: 12px 45px;
        font-size: 20px;
    }
    
    .section__title {
        font-size: 25px;
    }
    
    .section__text {
        font-size: 16px;
    }
    
    .about__text {
        font-size: 17px;    
    }
    
    .education__text {
        font-size: 17px;
    }
    
    .port__text {
        font-size: 18px;
    }
    
    .portfolio__text {
        font-size: 20px;
    }
    
    .quote__container {
        padding-top: 10px;
        padding-bottom: 15px;
    }
    
    .footer__content {
        padding-top: 10px;
        padding-bottom: 20px;
    }
    
    .quote {
        font-size: 13px;
    }
    
    .flicker {
        font-size: 16px;
        padding-top: 10px;
    }
    
    .footer__bot {
        font-size: 13px;
    }
    
    .icons a {
        font-size: 13px;
        width: 40px;
    }
}


@media (max-width: 575px) {
    
    .intro__text {
        font-size: 22px;
        margin-bottom: 10px;
    }
    
    .resume__btn {
        padding: 10px 35px;
        font-size: 20px;
    }
    
    .section {    
        padding: 13px 0;
    }
    
    .about__text {
        font-size: 16px;
        
    }
    
    .section__title {
        font-size: 21px;
    }
    
    .section__text {
        font-size: 14px;
    }
    
    .education__text {
        font-size: 16px;
    }
    
    .port__text {
        font-size: 18px;
    }
    
    .portfolio__text {
        font-size: 20px;
    }
    
    .quote {
        font-size: 10px;
        
    }
    
    .flicker {
        font-size: 15px;
        padding-top: 10px;
    }
    
    .footer__bot {
        font-size: 10px;
        
    }
    
    
    .icons a {
        font-size: 10px;
        width: 35px;
    }
}
















